* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
a {
  text-decoration: none;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('../font/mazda_type/MazdaTypeCyrillic-BoldItalic.eot');
    src: local('Mazda Type Cyrillic Bold Italic'), local('MazdaTypeCyrillic-BoldItalic'),
        url('../font/mazda_type/MazdaTypeCyrillic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mazda_type/MazdaTypeCyrillic-BoldItalic.woff2') format('woff2'),
        url('../font/mazda_type/MazdaTypeCyrillic-BoldItalic.woff') format('woff'),
        url('../font/mazda_type/MazdaTypeCyrillic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('../font/mazda_type/MazdaTypeCyrillic-Bold.eot');
    src: local('Mazda Type Cyrillic Bold'), local('MazdaTypeCyrillic-Bold'),
        url('../font/mazda_type/MazdaTypeCyrillic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/mazda_type/MazdaTypeCyrillic-Bold.woff2') format('woff2'),
        url('../font/mazda_type/MazdaTypeCyrillic-Bold.woff') format('woff'),
        url('../font/mazda_type/MazdaTypeCyrillic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('../font/mazda_type/MazdaTypeCyrillic-Medium.eot');
    src: local('Mazda Type Cyrillic Medium'), local('MazdaTypeCyrillic-Medium'),
        url('../font/mazda_type/MazdaTypeCyrillic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/mazda_type/MazdaTypeCyrillic-Medium.woff2') format('woff2'),
        url('../font/mazda_type/MazdaTypeCyrillic-Medium.woff') format('woff'),
        url('../font/mazda_type/MazdaTypeCyrillic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('../font/mazda_type/MazdaTypeCyrillic-MediumItalic.eot');
    src: local('Mazda Type Cyrillic Medium Italic'), local('MazdaTypeCyrillic-MediumItalic'),
        url('../font/mazda_type/MazdaTypeCyrillic-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/mazda_type/MazdaTypeCyrillic-MediumItalic.woff2') format('woff2'),
        url('../font/mazda_type/MazdaTypeCyrillic-MediumItalic.woff') format('woff'),
        url('../font/mazda_type/MazdaTypeCyrillic-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('../font/mazda_type/MazdaTypeCyrillic-Regular.eot');
    src: local('Mazda Type Cyrillic Regular'), local('MazdaTypeCyrillic-Regular'),
        url('../font/mazda_type/MazdaTypeCyrillic-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/mazda_type/MazdaTypeCyrillic-Regular.woff2') format('woff2'),
        url('../font/mazda_type/MazdaTypeCyrillic-Regular.woff') format('woff'),
        url('../font/mazda_type/MazdaTypeCyrillic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
        font-family: 'Mazda Type Cyrillic';
        src: url('../font/mazda_type/MazdaTypeCyrillic-Italic.eot');
        src: local('Mazda Type Cyrillic Italic'), local('MazdaTypeCyrillic-Italic'),
                url('../font/mazda_type/MazdaTypeCyrillic-Italic.eot?#iefix') format('embedded-opentype'),
                url('../font/mazda_type/MazdaTypeCyrillic-Italic.woff2') format('woff2'),
                url('../font/mazda_type/MazdaTypeCyrillic-Italic.woff') format('woff'),
                url('../font/mazda_type/MazdaTypeCyrillic-Italic.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
}

/* Apply the loaded font globally */
:root{
    --site-font: 'Mazda Type Cyrillic', Arial, sans-serif;
}

body, button, input, textarea, select {
    font-family: var(--site-font);
}

