@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: local('Mazda Type Cyrillic Regular'), local('Mazda-Type-Cyrillic-Regular'),
        url('MazdaTypeCyrillic-Regular.woff2') format('woff2'),
        url('MazdaTypeCyrillic-Regular.woff') format('woff'),
        url('MazdaTypeCyrillic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }